
@{
    ViewBag.Title = "Birthday";
}<center>
<h2 style="color:#88B04B">@ViewBag.Name, გილოცავთ დაბადების დღეს</h2><br>   
<div class="text-center">
      <img style="max-width:1000px" src="~/App_Files/Images/hb.jpeg" class="rounded" alt="hbd">
</div>
</center>
