@{
    ViewBag.Title = "Home Page";
}

<div class="text-center" style="margin-top:40px">
    <h1 style="color: #FF4136; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ">Welcome to Kindergarten "Junior"</h1><br>
    <h3>პირადი კაბინეტის სანახავად <a href="/Account/Login">შედით სისტემაში.</a></h3>
</div>
<br>


<div class="text-center">
    <img src="~/App_Files/Images/kg.jpg" class="rounded" alt="hbd">
</div>
<br><br>